.navbar{
    height: 75px;
    width: 100%;
    background-color: rgb(43, 41, 41);
}
.logo{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-left: 35px;
}

.showAlert{
    width: 100%;
}
.form_textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo span{
    color: crimson;
}

.gimg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gimg img{
     height: 400px;
     width: 400px;
     margin: 5px 5px;
     transition: all 0.3s ease-in-out;
}

.gimg img:hover{
    scale: 1.2;
    transition: all 0.5s ease-in-out;
}

.agreebtn{
    display: flex;
}
.texts p {
    color: black;
    text-align: left;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .texts p .replay {
    text-align: right;
  }

@media(max-width: 450px){
    .gimg img{
        /* height: 300px; */
        width: 100%;
        margin: 3px 3px;
   }
}
